body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 80px 1fr 80px 80px;
    grid-template-columns: 100px 1fr 100px;
}

h1 {
    background: none;
    text-align: center;
}
  
header {
    background:white;
    grid-row: 1;
    grid-column: 2 ;
}

.score {
    grid-row: 2 ;
    grid-column: 2;
}

.left {
    grid-row: 1 / span 5;
    grid-column: 1;
}

.right {
    grid-row: 1 / span 5;
    grid-column: 3;
}

main {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: solid 10px black;
  gap: 20px;
}

.red {
  background-color: red;
}

.green {
  background-color:green;
}

.blue {
  background-color:blue;
}

.yellow {
  background-color: brown;
}

.pink {
  background-color: pink;
}

.orange {
  background-color:orange;
}

/*
main {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    border: solid 10px black;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border: solid 2px red;  
}
*/
.play {
  grid-row: 4;
  grid-column: 2;
}

.footer {
  grid-row: 5;
  grid-column: 2 ;
}
/*
.box {
  width: 150px;
  height: 150px;
  border: solid rgb(114, 110, 110) 2px;
}
*/
/*  
main {
    grid-row: 2;
    grid-column: 2;
}

.board {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 2px;
  }
  
  footer {
    grid-row: 3;
    grid-column: 1 / span 3;
  }
  
  
  
  .right {
    grid-row: 2;
    grid-column: 3;
  }

  .tile{
      background-color: white;
      border: solid 1px black;
  }

  .red{
    background-color:red;
    border: solid 1px black;
  }

  .blue{
    background-color:blue;
    border: solid 1px black;
  }

  .showPlayer {
     color:green;
  }
*/
