body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 80px 1fr 80px 80px;
    grid-template-columns: 100px 1fr 100px;
}

h1 {
    background: none;
    text-align: center;
}
  
header {
    background:white;
    grid-row: 1;
    grid-column: 2 ;
}

.score {
    grid-row: 2 ;
    grid-column: 2;
}

.left {
    grid-row: 1 / span 5;
    grid-column: 1;
}

.right {
    grid-row: 1 / span 5;
    grid-column: 3;
}

.board {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /*border: solid 10px black;*/
  gap: 10px;
  
}

.red {
  display: grid;
  grid-row: 1;
  grid-column: 3;
  justify-content: end;
  align-content: center;
}

.blue {
  display: grid;
  grid-row: 1;
  grid-column: 4;
  justify-content: start;
  align-content: center;
}

.green {
  display: grid;
  /* background-color:green; */
  grid-row: 2;
  grid-column: 3;
  justify-content: end;
  align-content: center;
}

.yellow {
  display: grid;
  /* background-color: yellow; */
  grid-row: 2;
  grid-column: 4;
  justify-content: start;
  align-content: center;
}

.pink {
  display: grid;
  /* background-color: pink; */
  grid-row: 3;
  grid-column: 3;
  justify-content: end;
  align-content: center;
}

.orange {
  display: grid;
  /* background-color:orange; */
  grid-row: 3;
  grid-column: 4;
  justify-content: start;
  align-content: center;
}


.redBtn {
  width: 150px;
  height: 150px;
  background-color: red;
}

.redBtnShadow {
  width: 150px;
  height: 150px;
  background-color: red;
  box-shadow: 5px 10px 8px 5px #888888; 
}

.blueBtn {
  width: 150px;
  height: 150px;
  background-color: blue;
}
.blueBtnShadow {
  width: 150px;
  height: 150px;
  background-color: blue;
  box-shadow: 5px 10px 8px 5px #888888; 
}

.greenBtn {
  width: 150px;
  height: 150px;
  background-color: green;
}
.greenBtnShadow {
  width: 150px;
  height: 150px;
  background-color:green;
  box-shadow: 5px 10px 8px 5px #888888; 
}

.yellowBtn {
  width: 150px;
  height: 150px;
  background-color:yellow;
}

.yellowBtnShadow {
  width: 150px;
  height: 150px;
  background-color:yellow;
  box-shadow: 5px 10px 8px 5px #888888; 
}

.orangeBtn {
  width: 150px;
  height: 150px;
  background-color: orange;
}

.orangeBtnShadow {
  width: 150px;
  height: 150px;
  background-color:orange;
  box-shadow: 5px 10px 8px 5px #888888; 
}


.pinkBtn {
  width: 150px;
  height: 150px;
  background-color:pink;
}

.pinkBtnShadow {
  width: 150px;
  height: 150px;
  background-color:pink;
  box-shadow: 5px 10px 8px 5px #888888; 
}


/*
main {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    border: solid 10px black;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border: solid 2px red;  
}
*/
.play {
  grid-row: 4;
  grid-column: 2;
}

.footer {
  grid-row: 5;
  grid-column: 2 ;
}
/*


opacity: 0.6;
  transition: 0.3s;
.box {
  width: 150px;
  height: 150px;
  border: solid rgb(114, 110, 110) 2px;
}
*/
/*  
main {
    grid-row: 2;
    grid-column: 2;
}

.board {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 2px;
  }
  
  footer {
    grid-row: 3;
    grid-column: 1 / span 3;
  }
  
  
  
  .right {
    grid-row: 2;
    grid-column: 3;
  }

  .tile{
      background-color: white;
      border: solid 1px black;
  }

  .red{
    background-color:red;
    border: solid 1px black;
  }

  .blue{
    background-color:blue;
    border: solid 1px black;
  }

  .showPlayer {
     color:green;
  }
*/
